@using TaskClassWork.Data;
@model Category
    <body>
        <div class="container" style="margin-top:40px">

            <form action="/Home/Update" method="post">
                <input type="text" value="@Model.Name" name="Name" class="form-control" />
                <br />
                <input type="hidden" value="@Model.Id" name="Id" />
                <button class="btn btn-danger ">Save Changes</button>
            </form>
        </div>
    </body>

